@import "./sass_imports/color";

body {
    .main-content {
        height: 100vh;
        background: $color-light;
        padding-top: 70px;
        font-family: 'Montserrat', Helvetica, sans-serif;
        .card-section {
            width: 96vw;
            margin: 0 auto;
            background: white;
            border-radius: 10px;
            &__head {
                border-radius: 10px 10px 0 0;
                padding: 10px;
                background: url("../images/main_bg.png") 0% 50%, $color-blue;
                &--avatar {
                    max-width: 200px;
                }
                &--text {
                    color: white;
                    text-align: center;
                }
                &--icons {
                    text-align: center;
                    .fa-stack {
                        border-radius: 100%;
                        .fa-github, .fa-facebook, .fa-linkedin  {
                            color: $color-grey;
                        }
                    }
                }
            }
            &__body {
                border-radius: 0 0 10px 10px;
            }
        }
    }
}
