body {
    .main-content {
        height: 100vh;
        background: grey;
        padding-top: 70px;
        .card-container {
            width: 98vw;
            margin: 0 auto;
            background: white;
            border-radius: 10px;
        }
    }
}
